.row {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  padding: 6px 3px;
  flex-grow: 1;
  flex-direction: column;
  list-style: none;
}

.MovieBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
